.logout-btn {
    
    margin-top: 8px;
    border: none;
    outline: none;
    padding: 8px 14px;
    border-radius: 24px;
    cursor: pointer;
    color: #fff;
    background-color: #43144998;
   margin-left: 50px;

}
.Form {
    display: flex;
    
    justify-content: space-between;
}