.logout-btn {
    padding: 10px;
    width: 104px;
    border: 1px solid #DDDDDD;
    background-color: rgb(193, 221, 246);
    border-radius: 15px;
    font-family: 'Allura', cursive;
    margin-left: 8px;
}

.logout-btn:hover,
.logout-btn:focus {
    box-shadow: 0 0 50px 15px #4c7a93;
    font-weight: 600;
}

.Form {
    display: flex;
    
    justify-content: space-between;
}