.signup-btn {
    margin-top: 8px;
    border: none;
    outline: none;
    padding: 8px 14px;
    border-radius: 24px;
    cursor: pointer;
    color: #fff;
    background-color: #43144998;
}

.signup-input {
    padding: 8px 24px;
    outline: none;

    border-radius: 4px;
    cursor: pointer;
    color: #111;
}

.sign-up {

    display: flex;
    flex-direction: column;
    gap: 4px;

}

.label1 {
    margin-right: 43px;
    ;
}
.label2 {
    margin-right: 14px;
    ;
}