
.delete-btn {
    margin-left: 8px;
    margin-top: 8px;
    border: none;
    outline: none;
    padding: 8px 14px;
    border-radius: 24px;
    cursor: pointer;
    color: black;
    background-color: aliceblue;
    font-family: 'Allura', cursive;
}


.delete-btn:hover,
.delete-btn:focus {
    box-shadow: 0 0 50px 15px #82c6eb;
    font-weight: 600;
}




.Form {
    display: flex;
    justify-content: space-between;
}